
{% for style in styles %}
    var {{ style.name }}Legend = { 
        "colors": [{% for color in style["colors"] %} "{{ color }}",{% endfor %}],
        "values": [{% for value in style["values"] %} "{{ value }}",{% endfor %}],
        "unit": "{{ style.unit }}",
    };
{% endfor %}

let legendMapping = new Map();
{% for style in styles %} legendMapping.set('{{style.layerMappingName}}',{{style.name}}Legend);
{% endfor %}

var legend = L.control({position: 'bottomright'});

var legendName=null

function addLegend (map,layer){
    if (document.getElementById("dynamicStyles").checked)
        this.legendName=layer+map.timeDimension.getCurrentTimeIndex();
    else
        this.legendName=layer
    legend.addTo(map);
    };
function removeLegend (){
    legend.remove();
    };

legend.onAdd = function (map) {
    legendObject=legendMapping.get(legendName)

    var div = L.DomUtil.create('div', 'info legend'),
        grades = legendObject.values,
        colors = legendObject.colors;
    if (legendName.match(".*\\d+$")){
        _date =new Date(map.timeDimension.getCurrentTime())
        _timeString= _date.toLocaleDateString() + ' '+_date.toLocaleTimeString()
        legendName=legendName.replace(/\d+$/, "")+' at '+ _timeString

    // loop through our density intervals and generate a label with a colored square for each interval
    div.innerHTML='<h4>'+legendName+'</h4>'
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + colors[i] + '"></i> ' + grades[i] +' '+legendObject.unit+'<br></br>' ;
    }

    return div;
};