function initMap() {

    var map = L.map('map', {
        zoom: 12,
        minZoom: 12,
        maxZoom: 20,
        
        timeDimension: true,
        timeDimensionOptions: {
            timeInterval: "{{ SimDate }}T{{ SimTime }}Z/PT{{ SimDurationMinus1 }}H",//hours minus 1
            period: 'PT{{ TimeInterval }}M'
        },
        timeDimensionControl: true,

    });
    L.control.scale().addTo(map)
    map.setView(['{{ Latitude }}', '{{ Longitude }}'], 1)

    var baseLayers = getCommonBaseLayers(map); //from baselayers js
    var BasicControl =L.control.groupedLayers(baseLayers, groupedOverlays,controlOptions).addTo(map);

    map.on('overlayadd', function(eventLayer) {
        if (layerMapping.has(eventLayer.name)){
            layerMapping.get(eventLayer.name).addTo(map);
            map.removeLayer(HeightControl);//Not a heightLayer - therefore disabling Heightcontrol
            HeightControl.remove(); 
        }
        else if(layerMapping.has(activeHeightLayer+'-'+eventLayer.name)){ //Height Layers
            layerMapping.get(activeHeightLayer+'-'+eventLayer.name).addTo(map);
            activeHeight=eventLayer.name;   
        } 
        else{ //preparing Height Variable
            activeHeightLayer=eventLayer.name;
            HeightControl.addTo(map);
        }         
    });

    map.on('overlayremove', function(eventLayer) {

        if (layerMapping.has(eventLayer.name)){ //removing basic layer
            layerMapping.get(eventLayer.name).removeFrom(map);
        }
        else if(layerMapping.has(activeHeightLayer+'-'+eventLayer.name)){ //removing Height Layers
            layerMapping.get(activeHeightLayer+'-'+eventLayer.name).removeFrom(map);
        }
        else{ // removing height variable
            if(layerMapping.has(eventLayer.name+'-'+activeHeight)){
                layerMapping.get(eventLayer.name+'-'+activeHeight).removeFrom(map);//remove last used layer (needed beacause activeHeightLayer has already changed)
            }
            if(dummyMapping.has(activeHeight)){
            dummyMapping.get(activeHeight).removeFrom(map)
            activeHeight=null
            }
        }


    });

    return {
        map: map,
    };

}


var mapStuff = initMap();
var map = mapStuff.map;
//Changing Default Cursor
$('.leaflet-container').css('cursor','crosshair');