
var projectHandling ='\
<h2>Available Projects:</h2>\
  <div class="sidenav">\
    {% for project in projects %}  <a href="../../projects/{{project}}/index.html">{{project}}</a>\{% endfor %}
  </div>'