function get_timeDimensionOptions(){
    return {
        timeInterval: "{{ SimDate }}T{{ SimTime }}Z/PT{{ SimDurationMinus1 }}M",
        period: 'PT{{ TimeInterval }}M'}
};
function get_Location(){
    return ['{{ Latitude }}', '{{ Longitude }}']
};